/* line 1, ../../sass/main.scss */
body { background: black; padding: 50px; font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; color: orange; }

/* line 8, ../../sass/main.scss */
a { color: orange; }
